* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 80px;
    background-color: black;
    position: fixed;
    z-index: 3;
    display: flex;
    justify-content: flex-end;
}

main {
    height: calc(100vh);
    width: 100%;
    background-color: antiquewhite;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#projects {
    width: 100%;
    background-color: azure;
    position: relative;
}

#navbar {
    width: 30%;
    height: 100%;
    min-width: 500px;
    margin: 0;
    padding: 0;
}

#navbar ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

#navbar ul li {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: ghostwhite;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 60px;
}
h2 {
    margin: 0;
    padding: 0;
    color: red;
    font-style: italic;
}

#project-header {
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 130px;
}

#project-header h1 {
    border-bottom: 2px solid black;
    font-size: 50px;
}

#container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 20px;
}
.project {
    overflow: hidden;
    transition: .5s;
}

.project:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px gray;
}


@media (min-width: 1200px) {

    .project {
        width: 30%;
        aspect-ratio: 1;
        border: 1px solid gray;
        border-radius: 2px;
    }
    
    #project-header {
        padding-top: 120px;
        padding-bottom: 50px;
    }
}

@media (min-width: 700px) and (max-width: 1199px){

    .project {
        width: 45%;
        aspect-ratio: 1;
        border: 1px solid gray;
        border-radius: 10px;
    }

    #project-header h1 {
        font-size: 40px;
    }
    #project-header {
        padding-top: 100px;
        padding-bottom: 30px;
    }
   
}

@media (max-width: 699px){

    .project {
        width: 90%;
        aspect-ratio: 1;
        border: 1px solid gray;
        border-radius: 10px;
    }

    #project-header h1 {
        font-size: 30px;
    }
    
    #project-header {
        padding-top: 100px;
        padding-bottom: 30px;
    }
   
}

a {
    font-style: normal;
    text-decoration: none;
    color: ghostwhite;
}

.title {
    height: 10%;
    width: 100%;
    background-color: ghostwhite;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.project-snap {
    height: 70%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0px;
    display: block;
}

.description {
    height: 20%;
    width: 100%;
    background-color: ghostwhite;
    margin: 0;
}

.project-title {
    text-align: center;
    color: rgb(61, 55, 55);
    font-size: 30px;
    font-style: normal;
}